In the last session, we had a look at the String data type which could be used to store character values. Now let's try building an application which records a customer's detail and assign it a unique user id number generated randomly.

In [ ]:
#We would ask the user for his name and mobile number
name= input("What's your name ")
number= input("What's your number ")

What's your name A
What's your number 98

In [ ]:
from random import seed
from random import randint

# generate a three digit random integers for user id
value = randint(100, 999)
print(value)

682

In [ ]:
#Now if I want to store these values together I can create a list data type
name= input("What's your name ")
number= input("What's your number ")
value = randint(100, 999)
#Creating a list

In [9]:
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
#indexing

print(L[2][1])
print(L[3][0])

# Slicing
L[0:3]

l1=[1,3,[4,5],6]

print(3 in l1)

2004
Oreily
True

Hmm, that works. But what if I would like to add some security and make user id un-changeable or as we call it in programming - immutable, in that case, we'll use a tuple. 

So in this session, we are going to learn more about another new word or a data type actually which is called "Tuple"

<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequence of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis

In [ ]:
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [ ]:
type(t)

tuple

<h3> Tuples can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [ ]:
sample_tuple = 1,2,3,4

print(sample_tuple)

(1, 2, 3, 4)

#### Single value tuple

In [ ]:
sample_tuple = 1,  
print(sample_tuple)

(1,)

In [ ]:
sample_tuple = (1,)  
print(sample_tuple)

In [ ]:
sample_tuple1 = 1   # This is not a tuple

In [ ]:
sample_tuple2 = (1) # This is not a tuple

### Indexing in tuples

In [ ]:
t = ("Mumbai", 84, "Python",)

In [ ]:
# gives the element at index location 1
t[1]

In [ ]:
# gives the last element from tuple
t[-1]

In [1]:
T = (3, 5, 7, 11),
T.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [2]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']
print(L1[1][-1])

y

In [4]:
l = [32, 34, 12, 27, 33]
l.append([14, 19])
print(l)
print(len(l))

[32, 34, 12, 27, 33, [14, 19]]
6

### Slicing

In [ ]:
# Slicing first 3 elements from t

t = ("Seattle", 84, "Python", 5, 2, 1)

t[0:3]

In [ ]:
# Slicing last 2 elements from t

t = ("Seattle", 84, "Python", 5, 2, 1)

t[-2:]

In [ ]:
# no. of elements in tuple t
t = ("Seattle", 84, "Python", 5, 2, 1)
len(t)

#### Cancatenating tuples

In [1]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

('This', 'is', 'Session', 2, 'on', 'Tuples')

#### sum() - min() - max()

In [ ]:
t = (2, 4, 3, 5, 7)
sum(t)

In [ ]:
t = (2, 4, 3, 5, 7)
min(t)

In [ ]:
t = (2, 4, 3, 5, 7)
max(t)

### Immutability of tuples

In [ ]:
t = ("USA", 4, 3, "Disco", 7.5)

t[3] = "Hard Rock"

In [51]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]

sample=('Monty Python', 'British', 1969)
sam=sample[0:3] + ('Python',)
print(sam)

('Monty Python', 'British', 1969, 'Python')

### Sorting a tuple

In [ ]:
t = (2,3,6,4,8,5)

sorted(t)

In [ ]:
x = sorted(t)

tuple(x)

In [ ]:
# Nested Tuples

t = (1,5,"Disco", ("Python", "Java"))

# Access "Java" from the nested tuple
t[3][1]

### Packing and Unpacking In Tuples

In [ ]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a)

#### dir() - to view the attributes or methods of an object

In [ ]:
t = ()
print(dir(t))

<h1 style="color:Brown"> Lists </h1>

- Lists are an ordered sequnce of mixed data types.
- Lists are written as comma-separated  elements within square brackets

In [ ]:
L = ["USA", 23, 6, "New York"]

L

In [ ]:
# Nested List
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

In [ ]:
# Indexing
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

In [ ]:
L[-3]

In [ ]:
L[-1][-1]

In [ ]:
# Slicing

L[0:3]

In [10]:
#Membership in Lists

L1 = [1,2,3,4]
print(1 in L1)  # True
print (8 not in L1)  # True

True
True

In [ ]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

In [ ]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [ ]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [ ]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [ ]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [ ]:
del L[0:2]

L

[('Oreily', 'Pearson')]

In [ ]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

['Chemistry', 'Biology', [1989, 2004]]

In [ ]:
# remove()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")

L

In [ ]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [ ]:
l.sort(reverse= True)
l

[65, 32, 24, 9]

#### Difference between sort and sorted

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [30]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

res=['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
res.pop()
res[0]='Pythons syntax is easy to learn & Pythons syntax is very clear'
print(res)

input_str = 'Kumar_Ravi_003'
list_res =input_str.split('_')

print(list_res[1])
print(list_res[0])
print(list_res[2])

tuple1 = (2,3.2,4,5)
print(sum(tuple1))
print(min(tuple1))
print(max(tuple1))

t = ("disco", 12, 4.5)
print(t[0][2])

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']
[]
['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']
['Pythons syntax is easy to learn & Pythons syntax is very clear']
Ravi
Kumar
003
14.2
2
5
s

#### Shadow Copying

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [ ]:
A

['Apple', 'Strawberry', 'Mango']

In [ ]:
B

['Apple', 'Strawberry', 'Mango']

In [1]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]    #Note 'A[:]' is used to call all the values stored in A
#Now B has all the values of A but isn't a shadow copy of A
#Shadow copy is basically assigning multiple labels to a single reference point or memory location

A[0] = "Apple"

In [3]:
A

['Apple', 'Strawberry', 'Mango']

In [45]:
t=('Monty Python', 'British', 1969)
res=list(t)
res.append('Python')
tuple(res)

TypeError: 'tuple' object is not callable

Now that we know how to store multiple items together let us build another app that could store userid of our customers, which were randomly generated.

We have the following requirements from the app -
1. It shouldn't store duplicate values in the data-set
2. Since the userid are randomly generated the order doesn't matter
3. We need mutability i.e. if we want to delete a particular value we should be able to do so
4. We might frequently want to check whether a user-id is part of the existing data set so it should be able to perform this operation fast

For this use case, we could either use a unique function and maintain our list, but that would be comparatively time-consuming, so let's look at another data type provided by Python, which would be the best fit here.

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets do not allow duplicates

In [ ]:
l = [1,3,2,4,5,5]

set_l = set(l)

set_l

{1, 2, 3, 4, 5}

In [ ]:
len(set_l)

5

In [ ]:
a = {1, 2, 3, 4, 5}

a.add("Australia")

a

{1, 2, 3, 4, 5, 'India'}

In [ ]:
a = {1, 2, 3, 4, 5, "Australia"}
a.remove("Australia")
a

{1, 2, 3, 4, 5}

In [6]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}
C= {5,6}


set.intersection([A, B, C])

TypeError: descriptor 'intersection' for 'set' objects doesn't apply to a 'list' object

In [ ]:
print(A | B) # Union
print (A.union(B))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [ ]:
print(A & B) # Intersection
print(A.intersection(B))

{2, 4}
{2, 4}

NameError: name 'A' is not defined

In [ ]:
print(A - B) # Difference
print(A.difference(B))  # only A elements

{0, 8, 6}
{0, 8, 6}

In [69]:
#print(A ^ B) # Symmetric Difference

A= [5,5,5,5,5,5,5,3] 
B= [3,3,5,5,1,7,2]
c=set(A)
d=set(B)
print(c)
print(d)
res = c&d
print(res)
print((c.union(d)).difference(c.intersection(d)))

nums = set([1,1,2,3,3,3,4])
print(len(nums))

d={ 102:['Shiva', 24, 'Content Strategist'],104:['Udit',25,'Content Strategist'], 105:['Huzefa',32,'Project Manager' ]}
print(d[104][2])
print(type(d))
di = dict(a=1, b=2)
print(type(di))

d1 = {'Python':40, 'R':45}
print(list(d1.keys()))

d2= {'Name': 'Monty', 'Profession': 'Singer' }
d2['Label'] ='NA'
d3 =d2
print(d3)

d4 ={'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
de =d4.values()
print(sorted(de))

{3, 5}
{1, 2, 3, 5, 7}
{3, 5}
{1, 2, 7}
4
Content Strategist
<class 'dict'>
<class 'dict'>
['Python', 'R']
{'Name': 'Monty', 'Profession': 'Singer', 'Label': 'NA'}
['Amazon', 'Apple', 'RJIO', 'Twitter']

In this session, we are going to talk about dictionaries. In Python, we use dictionaries to store key-value pairs.
Here is an example -
Let's take the example of a customer as seen earlier.
Now a customer could have multiple attributes such as 
1. Name
2. Email
3. Userid
4. Address 
5. Phone number

Now each of these attributes would be our key and corresponding we'll have values against each on them

With a dictionary, we can store a bunch of key-value pairs, let us now see have a look at the 'Dictionary' data type in Python

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, it's is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [ ]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["USA"]

'USD'

In [14]:
d={'a':64, 'b':65, 'c':66, 'd':67}
print(d.keys())

dict_keys(['a', 'b', 'c', 'd'])

In [5]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [30]:
#[‘Mobile_Redmi’, ‘Mobile_Samsung’, ‘Mobile_Realme’, ‘Laptop_Dell’, ‘Laptop_HP’, ‘TV_Videocon’, ‘TV_Sony’]

d= {'Mobile': ['Redmi', 'Samsung', 'Realme'], 
'Laptop': ['Dell', 'HP'] }


fin_list=[]
for i in d.keys():
    for j in d[i]:
        fin_list.append(i+"_"+j)
        
print(fin_list)

['Mobile_Redmi', 'Mobile_Samsung', 'Mobile_Realme', 'Laptop_Dell', 'Laptop_HP']

In [ ]:
# Replace the value for a key in a dictionary

d["USA"] = "$"

d

{'France': 'Euros', 'India': 'INR', 'USA': '$'}

In [ ]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

{'France': 'Euros', 'India': 'INR', 'Japan': 'Yen', 'USA': '$'}

In [ ]:
# Deleting a key value pair

del d["France"]

d

{'India': 'INR', 'Japan': 'Yen', 'USA': '$'}

In [ ]:
# Sorting a dictionary

sorted(d)

['India', 'Japan', 'USA']

In [ ]:
# values() Method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

d.values()

dict_values(['INR', 'USD', 'Euros'])

In [ ]:
# Keys() Method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [ ]:
# Update() Method

d.update({'USA':'$'})
d

{'France': 'Euros', 'India': 'INR', 'USA': '$'}