# Control Structures

### Question 


A word is said to belong to the red team if it has the letter r in it.
Write an 'if' statement to check whether the given word belongs to the red team or not.

In [5]:
# write code here
word =input("Enter a word in small caps ")
is_flag =0
for char in word:
    if char =='r':
           print("The word belongs to red team")
           is_flag =1
           break
    if is_flag ==0 :
           print("The word does not belong to the red team")

Enter a word in small caps smaller
The word does not belong to the red team
The word does not belong to the red team
The word does not belong to the red team
The word does not belong to the red team
The word does not belong to the red team
The word does not belong to the red team
The word belongs to red team

### Question 

In continuation to previous example, if the word has the letter 'b', it belongs to the blue team. And if the word has both 'r' and 'b' then first letter gets a precedence. And if the word does not have the letter 'r' or 'b', it does not belong to any team. 
######Example: (word,output)                
*   rabbit = red team
*   brand =  blue team
*   dog   =  no team


Write a condition for this decision.

In [7]:
# write code here 
word =input("Enter a word in small caps")
is_red =0
is_blue =0
for char in word:
    if char =='r':
           print("The word belongs to red team")
           is_red =1
           break
    elif char =='b':
          print("The word belongs to blue team")
          is_blue=1
          break
if is_red==0 and is_blue==0:
    print("The word does not belong to any team")
# you might want to consider if statement inside a for loop

Enter a word in small capsdog
The word does not belong to any team

### Question 

Write a program to print all the numbers which are divisible by 17 between 1 and a given number 'n'.

In [11]:
num = int(input("Enter the upper limit "))

i=1

while i<= num:
    if i% 17 == 0:
        print(i)
    i +=1

Enter the upper limit 100
17
34
51
68
85

### Question

Write a program to add 13 to all the elements of a given numeric list. 
######Example - 
* Input list = [1,5,27] 
* Output list = [14,18,40]

In [12]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]

# Write solution code here
f= lambda x:x+13
list(map(f,sample_list))

sol_list = []
for i in sample_list:
    sol_list.append(i+13)
    
print (sol_list)

[19, 111, 47, 58, 77, 20, 15, 18, 91, 103, 337, 124, 670, 451]

### Question

In continuation to the example above, execute the same operation on the same sample list using list comprihension.

In [15]:
sol_list=[x+13 for x in sample_list]
sol_list

[19, 111, 47, 58, 77, 20, 15, 18, 91, 103, 337, 124, 670, 451]

### Question 
This question has two tasks:
* Task 1 - Find the factors of all the numbers in a given list. 
* Task 2 - Add the numbers and their factors to a dictionary where the key will be the numbers from the list, and the values will be the factors of the respective number. 

Example - 
##### Sample output :
#####{6: [1, 2, 3, 6],
98: [1, 2, 7, 14, 49, 98],
##### 34: [1, 2, 17, 34],}

In [ ]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]

# write code here

{6: [1, 2, 3, 6],
 98: [1, 2, 7, 14, 49, 98],
 34: [1, 2, 17, 34],
 45: [1, 3, 5, 9, 15, 45],
 64: [1, 2, 4, 8, 16, 32, 64],
 7: [1, 7],
 2: [1, 2],
 5: [1, 5],
 78: [1, 2, 3, 6, 13, 26, 39, 78],
 90: [1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90],
 324: [1, 2, 3, 4, 6, 9, 12, 18, 27, 36, 54, 81, 108, 162, 324],
 111: [1, 3, 37, 111],
 657: [1, 3, 9, 73, 219, 657],
 438: [1, 2, 3, 6, 73, 146, 219, 438]}

### Question 

Count the total number of unique characters in a given sentence. 
#####Example - 
* Input - 'total'
* Output  - 'o', 'a', 'l'

In [18]:
sample_sentence = "Pack my box with five dozen liquor jugs"
 
# write code here 
uni =set(sample_sentence)
print(uni)
len(uni)

{'v', 'i', 'P', 'n', 'x', 'd', 'w', 'u', 'm', 'r', 'a', 's', 'k', 'q', 't', 'c', 'f', 'y', 'j', 'z', 'b', 'l', 'h', 'g', 'e', ' ', 'o'}

27

### Question 

Write a calculator application using functions, which will ask for the users input such as - arithmetic operation, number1, number 2, and return the output post applying the arithmetic operator

#####Example - 


```
def calc(operation, x,y):
    if operation == "add":
        return x+y
```

In [20]:
# use functions to write this code
def calc(operation,x,y):
    if operation =="add":
        return x+y
    elif operation =="sub":
        return x-y
    elif operation =="mul":
        return x*y
    elif operation =="div":
        return x/y
    else:
        print("Enter a valid operation")
        return None
    
print ("Enter the operation you want to execute")
oper = input("The available operations are 'add', 'sub', 'mul', 'div' " )
x = int (input ("Enter the first number"))
y = int (input ("Enter the second number"))

print("Answer is ", calc(oper, x, y))

Enter the operation you want to execute
The available operations are 'add', 'sub', 'mul', 'div' sub
Enter the first number6
Enter the second number3
Answer is  3

### Question 

Write a code to ask the user to input three numbers and then print the largest one among the three.

In [ ]:
# You might want to use nested if statements 
num = input("Enter three numbers :")
num_list = num.split()

a = int(num_list[0])
b = int(num_list[1])
c = int(num_list[2])

print (a,b,c)

if a>b: 
    if a>c:
        print ("The largest number is ", a)
    else: 
        print ("The largest number is ", c)
else:
    if b>c:
        print ("The largest number is ", b)
    else: 
        print ("The largest number is ", c)

Enter three numbers :54 25 65
54 25 65
The largest number is  65

### Question

Check whether a number is perfect or not. 

A perfect number is a number that is sum of all of its positive divisors (excluding itself).
For more info refer to this link - https://www.geeksforgeeks.org/perfect-number/

In [21]:
n = int (input("Enter the number you want to check: "))

sum = 0
for x in range(1, n):
    if n % x == 0:
        sum += x
        
if sum == n:
    print ("The number is a perfect number")
else: 
    print ("The number is not a perfect number")

Enter the number you want to check: 28
The number is a perfect number

### Question 

Add the elements in the two given lists using map and lambda functions

In [22]:
list1 = [5, 8, 9, 12]
list2 = [10, 12, 8, 6]

# write code here 
func=lambda x,y:x+y
list(map(func,list1,list2))

[15, 20, 17, 18]

### Question 

Write a code to find the factorial of a number using reduce function. 
#####Example -
 5!= 5 * 4 * 3 * 2 * 1=120.

In [23]:
n = int (input ("Enter a natural number "))

n_list = range(1,n+1)
from functools import reduce
factorial = reduce(lambda x,y: x*y, n_list)
factorial

Enter a natural number 6

720