In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('MegaMart_sales.csv')
df.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art

In [5]:
df_new=pd.read_csv('MegaMart_newsales.csv')
df_new.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1902971,"Wilson Jones Binding Machine, Clear",0.0,339,102,7,Office Supplies,Binders
1,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases
2,AZ-2011-1916555,"Eldon Folders, Single Width",0.4,61,7,6,Office Supplies,Storage
3,AZ-2011-1930058,"Sanford Markers, Easy-Erase",0.0,71,1,3,Office Supplies,Art
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories

#### Combining two data frames
Question 1: Some of the orders are stored in another csv file named `megamart_new sales`. Read the csv file, store it in a data frame and add it to the `megamart_sales` data frame. Find the total sales value of the category 'Office Supplies'  after combining the dataframes

    a)7970
    b)6964
    c)7494
    d)6076

In [12]:
#your code here
combine=pd.concat([df,df_new])
combine.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art

In [17]:
off_supp=combine[(combine['Category'] =='Office Supplies')]
sum(off_supp['Sales'])

7970

In [18]:
df=pd.concat([df,df_new],axis=0,ignore_index=True) 

df.groupby(by='Category').Sales.sum()

Category
Furniture          2460
Office Supplies    7970
Technology         8588
Name: Sales, dtype: int64

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

In [20]:
#your code here
sales =combine.drop_duplicates(keep='last')
sales.groupby(by='Category').sum()

df.drop_duplicates(subset=None,keep='first',inplace = True)
df.groupby(by='Category').Sales.sum()

                 Discount  Sales  Profit  Quantity
Category
Furniture             1.3   2460     333        36
Office Supplies       3.6   6964    1045       149
Technology            0.0   7494    2001        50

#### Best category-sub category 
Question 3: Find the most profitable category and sub category combination based on the net profit.


    a)Furniture-Bookcases
    b)Office supplies-Appliances
    c)Office supplies-Storage
    d)Technology-Phones

In [22]:
sales.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
5,AZ-2011-1114253,"Tenex Stacking Tray, Black",0.0,76,11,3,Furniture,Furnishings
6,AZ-2011-1116129,"Avery Binding Machine, Durable",0.0,252,15,5,Office Supplies,Binders
7,AZ-2011-1137571,"Stiletto Letter Opener, Easy Grip",0.0,90,17,3,Office Supplies,Supplies

In [25]:
#your code here

cat_sub_cat =sales.groupby(by=['Category','Sub-Category']).sum()
cat_sub_cat.sort_values('Profit',ascending=False)

df.groupby(by=['Category','Sub-Category']).Profit.sum()

                              Discount  Sales  Profit  Quantity
Category        Sub-Category
Technology      Phones             0.0   5199    1618        26
Furniture       Bookcases          0.1   1459     308        11
Office Supplies Art                1.0   1364     275        44
                Appliances         0.1   1819     229         8
Technology      Accessories        0.0   1053     215        18
Office Supplies Storage            2.0   2019     192        25
Technology      Machines           0.0    800     168         3
Office Supplies Binders            0.5    924     156        31
                Supplies           0.0    362     103        11
Furniture       Furnishings        0.0    443      74        12
Office Supplies Envelopes          0.0    146      35         9
                Labels             0.0    166      30        15
                Paper              0.0    136      15         4
                Fasteners          0.0     28      10         2
Technology      Copiers            0.0    442       0         3
Furniture       Chairs             1.2    558     -49        13

#### Invalid order IDs
Question 4: How many invalid order IDs are there in the data frame? An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of invalid order IDs in the data frame.
    
    a)6
    b)7
    c)8
    d)9

In [ ]:
df['Order no']=df['Order ID'].str.split('-')

df['Order no']=df['Order no'].apply(lambda x: x[2])

df['no_of_digits']=df['Order no'].apply(lambda x: len(x))

df['no_of_digits'].value_counts()

In [33]:
#your code here

#sales['order_len']=sales['Order ID'].apply(lambda x: len(x))
sales[sales['order_len']<15]

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order_len
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings,14
9,AZ-2011-122598,"Avery Removable Labels, Alphabetical",0.0,32,6,3,Office Supplies,Labels,14
17,AZ-2011-130330,"Office Star Chairmat, Adjustable",0.1,307,99,5,Furniture,Chairs,14
31,AZ-2011-144325,"Bush Stackable Bookrack, Pine",0.0,630,132,5,Furniture,Bookcases,14
34,AZ-2011-145488,"Rogers File Cart, Industrial",0.4,255,-98,3,Office Supplies,Storage,14
58,AZ-2011-176674,"Hoover Microwave, Red",0.1,1667,185,6,Office Supplies,Appliances,14
8,AZ-2011-201891,"Cameo Clasp Envelope, with clear poly window",0.0,52,19,4,Office Supplies,Envelopes,14

#### Occurence of furniture in top 25 sales
Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

    a)2
    b)3
    c)4
    d)5

In [38]:
#your code here
#fur=sales[sales["Category"]=="Furniture"]
#fur.sort_values("Sales", ascending=False).head()

df2=df.sort_values(by='Sales', ascending=False)
df2=df2.iloc[:25,]

df2['Category'].value_counts()

Technology         11
Office Supplies    10
Furniture           4
Name: Category, dtype: int64

#### And operation
Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

    a)Motorola Headset, with Caller ID
    b)Panasonic Printer, Durable	
    c)Hoover Microwave, Red	
    d)Fellowes Lockers, Industrial

In [39]:
#your code here
sales =sales[(sales['Sales']>250) & (sales['Profit']>50)]

In [41]:
sales.head()
sales.sort_values(by='Sales',ascending=False)

df3=df.loc[(df['Sales']>250) & (df['Profit']>50)]
df3=df3.sort_values(by='Sales',ascending=False)

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order_len
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,15
58,AZ-2011-176674,"Hoover Microwave, Red",0.1,1667,185,6,Office Supplies,Appliances,14
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,15
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,15
28,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,15
29,AZ-2011-1406494,"Fellowes Lockers, Industrial",0.1,748,283,4,Office Supplies,Storage,15
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,15
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,15
31,AZ-2011-144325,"Bush Stackable Bookrack, Pine",0.0,630,132,5,Furniture,Bookcases,14
14,AZ-2011-1260928,"Eldon File Cart, Single Width",0.1,576,51,5,Office Supplies,Storage,15
12,AZ-2011-1253407,"Safco Stackable Bookrack, Pine",0.1,541,156,4,Furniture,Bookcases,15
48,AZ-2011-1672552,"Binney & Smith Sketch Pad, Blue",0.0,510,132,11,Office Supplies,Art,15
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,15
0,AZ-2011-1902971,"Wilson Jones Binding Machine, Clear",0.0,339,102,7,Office Supplies,Binders,15
17,AZ-2011-130330,"Office Star Chairmat, Adjustable",0.1,307,99,5,Furniture,Chairs,14
13,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,15

#### Column manipulation
Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

    a) Nokia Audio Dock, with Caller ID
    b) Logitech Keyboard, Programmable
    c) Motorola Headset, with Caller ID
    d) Belkin Flash Drive, Bluetooth

In [42]:
#your code here

sales['pro_per_qty']=sales['Profit']/sales['Quantity']

C:\Users\6114782\AppData\Local\Temp\ipykernel_17552\1783814886.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['pro_per_qty']=sales['Profit']/sales['Quantity']

In [43]:
sales.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order_len,pro_per_qty
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,15,25.000000
12,AZ-2011-1253407,"Safco Stackable Bookrack, Pine",0.1,541,156,4,Furniture,Bookcases,15,39.000000
13,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,15,15.571429
14,AZ-2011-1260928,"Eldon File Cart, Single Width",0.1,576,51,5,Office Supplies,Storage,15,10.200000
17,AZ-2011-130330,"Office Star Chairmat, Adjustable",0.1,307,99,5,Furniture,Chairs,14,19.800000

In [45]:
sales[(sales["Profit"]>0) & (sales["Category"]=="Technology")].sort_values("pro_per_qty")

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order_len,pro_per_qty
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,15,7.333333
13,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,15,15.571429
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,15,25.000000
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,15,26.333333
28,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,15,56.000000
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,15,71.000000
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,15,140.000000
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,15,273.333333

In [ ]:
df4=df[df.Profit>0]
df4=df4.loc[df4.Category=='Technology']

df4['Profit_per_qty']=df4['Profit']/df4['Quantity']

df4.sort_values(by='Profit_per_qty',ascending=True)